.App {
  padding-top: 10vh;
  overflow: auto;
  background-color: #f6f6f6;
  height: 100vh;
}

.foot-component {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.nav-component {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

/* Home */
.home-card {
  margin-bottom: 2vh;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06), 0px 2px 14px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.1);
}

.homelist-container {
  padding-bottom: 10vh;
}

/* Recipe */
.recipe-container {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06), 0px 2px 14px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10vh;
}
